@using WebApplication1;
@{
    //access data
    var data = new List<student>();

    data.Add(new student() { name = "David", tel = "0941241231", address = "台北市光復南路123號3樓" });
    data.Add(new student() { name = "Eric", tel = "0941223412", address = "台南光復里23號1樓" });
    data.Add(new student() { name = "Bob", tel = "09894151989", address = "台北市光復南路123號3樓" });
    data.Add(new student() { name = "Jack", tel = "09512345222", address = "台北市和平東路路23號13樓" });
    data.Add(new student() { name = "Tom", tel = "0941241231", address = "台北市忠孝東路93號3樓" });
    data.Add(new student() { name = "Dan", tel = "091223122", address = "台中市永大一路83號" });
    data.Add(new student() { name = "Amy", tel = "0941241231", address = "台北市福新南路2段3號5樓" });
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row" style="padding:10px">
        <div class="col-lg-6">
            test
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Panel with panel-primary class</div>
                <div class="panel-body">
                    <div class="row" ">
                        @*test product*@
                        @foreach (var item in data)
                        {
                            <div class="col-md-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">@item.name</div>
                                    <div class="panel-body">
                                        <label>電話:@item.tel </label><br />
                                        <label>地址:@item.address</label>
                                        <br />
                                        <button class="btn btn-primary btn-xs pull-left">修改</button>
                                        <button class="btn btn-danger btn-xs pull-left">刪除 </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>